@use "variables" as v;
@use "mixins" as m;

.details {
  padding: 24px;
  &__company {
    color: v.$Orange;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 12px;
  }
  &__title {
    font-size: 1.7em;
    margin-bottom: 16px;
  }
  &__description {
    font-size: 0.94em;
    line-height: 24px;
    margin-bottom: 24px;
    color: v.$Dark-grayish-blue;
  }
  &__prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__now {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 1.8em;
    font-weight: 700;
  }
  &__discount {
    background-color: v.$Pale-orange;
    color: v.$Orange;
    font-size: 0.5em;
    padding: 4px;
    border: 4px;
  }
  &__before {
    font-weight: 700;
    color: v.$Dark-grayish-blue;
    text-decoration: line-through;
  }
  &__button {
    @include m.button;
  }
  @media (min-width: 1115px) {
    width: 446px;
    padding-top: 60px;
    &__title {
      font-size: 2.7em;
      margin-bottom: 48px;
    }
    &__description {
      font-size: 0.9em;
      margin-bottom: 37px;
    }
    &__prices {
      align-items: flex-start;
      flex-direction: column;
    }
    &__product-quantity {
      display: flex;
      gap: 32px;
    }
  }
}
