@use "variables";

.navbar {
  display: none;
  width: 400px;
  &__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__link {
    display: flex;
    height: 112px;
    padding-top: 42px;
    color: variables.$Dark-grayish-blue;
    text-decoration: none;
    &:hover {
      border-bottom: 4px solid variables.$Orange;
    }
  }
  @media (min-width: 1115px) {
    display: block;
  }
}
